; {{ ansible_managed }}

[wordpress-{{ item.slug }}]
listen = /var/run/php-fpm-wordpress-{{ item.slug }}.sock
listen.owner = www-data
listen.group = www-data
user = {{ item.user | default(wordpress_user) }}
group = {{ item.user | default(wordpress_user) }}
pm = dynamic
pm.max_children = {{ php_fpm_pm_max_children }}
pm.start_servers = {{ php_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pm_max_spare_servers }}
pm.max_requests = {{ php_fpm_pm_max_requests }}
chdir = {{ wordpress_root }}/
php_flag[log_errors] = on
