<?php
$CONFIG = array (
    'default_language' => 'fr',
    'default_locale' => 'fr_FR',
    'default_phone_region' => 'FR',
    'overwriteprotocol' => 'https',
    'trusted_proxies' => array( '127.0.0.1' ),
);
