{{ nextcloud_domain }} {
    {% if nextcloud_bind_address is defined and nextcloud_bind_address %}
    bind {{ nextcloud_bind_address }}
    {% endif %}
	reverse_proxy localhost:{{ nextcloud_port }}
}

{% if nextcloud_redirect_domains %}
{{ nextcloud_redirect_domains|join(", ") }} {
    {% if nextcloud_bind_address is defined and nextcloud_bind_address %}
    bind {{ nextcloud_bind_address }}
    {% endif %}

    @post {
        method POST
    }
    redir @post https://{{ nextcloud_domain }}{uri} 308
    redir https://{{ nextcloud_domain }}{uri} 301
}
{% endif %}
