{{ nextcloud_domain }} {
	reverse_proxy localhost:{{ nextcloud_port }}
}

{% if nextcloud_redirect_domains %}
{{ redirect_domains|join(", ") }} {
    @post {
        method POST
    }
    redir @post https://{{ main_domain }}{uri} 308
    redir https://{{ main_domain }}{uri} 301
}
{% endif %}
