# {{ ansible_managed }}

{{ django_uwsgi_log_directory }}/*.log {
       daily
       rotate 7
       copytruncate
       delaycompress
       compress
       notifempty
       missingok
       su root root
}
