{% extends "templates/nginx_site.conf.j2" %}

{% block http %}
uwsgi_cache_path /tmp/nginx_{{ main_domain }}_cache levels=1:2 keys_zone={{ main_domain }}:10m max_size=1g
                 inactive=60m use_temp_path=off;
{% endblock %}

{% block locations %}
  location / {
    include uwsgi_params;
    uwsgi_cache {{ main_domain }};
    uwsgi_cache_key $request_method$request_uri;
    uwsgi_cache_lock on;
    uwsgi_cache_lock_timeout 10s;
    uwsgi_cache_use_stale error timeout updating;
    {% if ansible_distribution_release != 'xenial' or nginx_latest_ppa -%}
    uwsgi_cache_background_update on;
    {% endif %}
    uwsgi_pass unix:/run/uwsgi/{{ django_app_name }}-{{ item.name }}.socket;
    add_header X-Cache-Status $upstream_cache_status;
  }

  location /static/ {
    expires max;
    alias {{ django_static_directory }}/;
  }

  location /media/ {
    alias {{ django_media_directory }}/;
  }

  location ~ ^/(favicon(?:-\d+)?.(?:jpe?g|png|ico))$ {
    alias {{ django_static_directory }}/$1;
  }
{% endblock %}
