[uwsgi]
master = true
chdir = {{ django_src_directory }}
module = {{ django_main_package }}.wsgi:application
processes = {{ item.concurrency|default(4) }}
logto = {{ django_uwsgi_log_directory }}/{{ item.name }}.log
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true
env = ALLOWED_HOSTS={{ item.domain|default(django_domain) }}
{{ item.uwsgi_config|default("") }}
